body {
    padding: 25px;
    font-family: "Georgia", sans-serif;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: #121212;
}

header {
    padding: 20px;
    font-family: "Helvetica Neue", "Helvetica";
    font-size: 50px;
    font-weight: 400;
    border-bottom: dashed 2px #aaa;
    border-top: dashed 2px #aaa;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", "Helvetica";
}

a.download {
    font-family: "Georgia", sans-serif;
    font-size: 25px;
    padding: 15px;
    background-color: #392;
    color: #eee;
    border-radius: 10px;
    border: dashed 2px #5b4;
}

a.download:hover {
    background-color: #4a3;
    border-radius: 10px;
    border: dashed 2px #5b4;
}

.alert {
    margin-top: 15px;
    margin-bottom: 15px;
    border-style: dashed;
    border-width: 2px;
    border-color: #d00;
    border-radius: 10px;
    font-size: 17px;
    color: #900;
    padding: 10px;
}

code, pre {
    font-family: "Monaco", "Menlo", "Deja Vu Sans Mono", "Bitstream Vera Sans Mono", monospace;
    color: #444;
    border-color: #aaa;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

code {
    padding: 2px;
}

pre {
    margin: 15px;
    text-align: left;
    padding: 5px 10px 5px 10px;
}

div#subtitle {
    font-family: "Georgia", sans-serif;
    font-style: italic;
    font-size: 20px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #444;
    border-bottom: dashed 2px #aaa;
}

a:hover {
    background-color: #eee;
    border-bottom: solid 2px #aaa;
}

footer {
    padding: 25px;
    border-top: dashed 2px #aaa;
}

.halfwidth {
    float: left;
    display: inline-block;
    width: 50%;
}

div#content {
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
}